Repository Blooym/Dalamud.Wholist, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | l10n/i18n, changes | ci, changes | source, changes | docs

.github/labeler.yml:

changes | l10n/i18n:
  - "Wholist/Localization/Resources/**/*.resx"
  - "Wholist/Localization/Resources/**/*.Designer.cs"

changes | ci:
  - ".github/workflows/**/*"

changes | source:
  - "**/*.cs"
  - "**/*.csproj"
  - "**/packages.lock.json"

changes | docs:
  - "**/*.md"
  - "**/*.txt"

feat: support lightless since mare is dead
  Wholist/Configuration/PluginConfiguration.cs
  Wholist/DataStructures/PlayerInfoSlim.cs
  Wholist/Game/PlayerManager.cs
  Wholist/Interop/IpcManager.cs
  Wholist/UserInterface/Windows/Settings/TableParts/Sidebar/AppearanceTab.cs
Labels: changes | source

chore: update plugin
  Wholist/Wholist.csproj
Labels: changes | source

refactor: add safety catch to lightless ipc
  Wholist/DTRHandling/DTRManager.cs
  Wholist/Interop/IpcManager.cs
Labels: changes | source

chore: bump version
  Wholist/Wholist.csproj
  Wholist/packages.lock.json
Labels: changes | source

chore: remove unused import
  Wholist/Interop/IpcManager.cs
Labels: changes | source

API 14
  Wholist/CommandHandling/Commands/PlateRouletteCommand.cs
  Wholist/DataStructures/PlayerInfoSlim.cs
  Wholist/Game/PlayerManager.cs
  Wholist/Wholist.csproj
  Wholist/packages.lock.json
Labels: changes | source

feat: display direction alongside distance
  Wholist/Configuration/PluginConfiguration.cs
  Wholist/DataStructures/PlayerInfoSlim.cs
  Wholist/Resources/Localization/Strings.Designer.cs
  Wholist/Resources/Localization/Strings.fr.resx
  Wholist/Resources/Localization/Strings.resx
  Wholist/UserInterface/Windows/NearbyPlayers/NearbyPlayers.logic.cs
  Wholist/UserInterface/Windows/NearbyPlayers/NearbyPlayers.window.cs
  Wholist/UserInterface/Windows/Settings/TableParts/Sidebar/BehaviourTab.cs
Labels: changes | source

fix(i18n): fix fr settings title
  Wholist/Resources/Localization/Strings.fr.resx
Labels: none

fix(i18n): fix fr settings title (#89)
  Wholist/Resources/Localization/Strings.fr.resx
Labels: none

chore(i18n): translation updates [skip ci]
  Wholist/Resources/Localization/Strings.de.resx
Labels: none

feat: display direction alongside distance (#90)
  Wholist/Configuration/PluginConfiguration.cs
  Wholist/DataStructures/PlayerInfoSlim.cs
  Wholist/Resources/Localization/Strings.Designer.cs
  Wholist/Resources/Localization/Strings.fr.resx
  Wholist/Resources/Localization/Strings.resx
  Wholist/UserInterface/Windows/NearbyPlayers/NearbyPlayers.logic.cs
  Wholist/UserInterface/Windows/NearbyPlayers/NearbyPlayers.window.cs
  Wholist/UserInterface/Windows/Settings/TableParts/Sidebar/BehaviourTab.cs
Labels: changes | source

refactor: remove lightless interop
  Wholist/Configuration/PluginConfiguration.cs
  Wholist/DataStructures/PlayerInfoSlim.cs
  Wholist/Game/PlayerManager.cs
  Wholist/Interop/IpcManager.cs
  Wholist/UserInterface/Windows/Settings/TableParts/Sidebar/AppearanceTab.cs
  Wholist/Wholist.csproj
  Wholist/packages.lock.json
Labels: changes | source

chore: bump version
  Wholist/Wholist.csproj
Labels: changes | source

fix: resolve build and compile issues
  Wholist/Common/Services.cs
Labels: changes | source

chore: add nix+direnv dev setup
  .envrc
  .gitignore
  flake.lock
  flake.nix
Labels: none

chore: use dalamud-packages flake
  flake.lock
  flake.nix
Labels: none

chore: remove outdated devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

chore: update flake
  flake.lock
  flake.nix
Labels: none

feat: api15
  Wholist/UserInterface/Windows/NearbyPlayers/NearbyPlayers.logic.cs
  Wholist/UserInterface/Windows/NearbyPlayers/NearbyPlayers.window.cs
  Wholist/Wholist.csproj
  Wholist/packages.lock.json
  flake.lock
  flake.nix
Labels: changes | source

chore(i18n): translation updates [skip ci]
  Wholist/Resources/Localization/Strings.fr.resx
Labels: none

docs: drop downloads counter
  README.md
Labels: changes | docs

refactor: fix deprecations and cleanup
  Wholist/Common/Constants.cs
  Wholist/Game/PlayerManager.cs
  Wholist/UserInterface/WindowManager.cs
  Wholist/UserInterface/Windows/NearbyPlayers/NearbyPlayers.window.cs
  Wholist/UserInterface/Windows/Settings/Settings.window.cs
  Wholist/Wholist.cs
  flake.lock
Labels: changes | source
